/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */
.one {
    display:flex;
    align-content: flex-end;
    flex-wrap: wrap;
}







